body{
    font-family: Arial;
    background-color:#f2f2f2;
    text-align:center;
}

h1{
    color:#333;
}

.container{
    margin-top:40px;
}

button{
    padding:10px 20px;
    margin:10px;
    border:none;
    background-color:#0077cc;
    color:white;
    font-size:16px;
    cursor:pointer;
}

button:hover{
    background-color:#005fa3;
}

#content{
    margin-top:30px;
    background:white;
    padding:20px;
    width:60%;
    margin-left:auto;
    margin-right:auto;
    border-radius:10px;
}
